
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(202, 85%, 70%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: hsl(202, 89%, 49%) ;
}

#total{
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
}