.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#b1{
    background-color: aqua;
    border-style: double;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

#b2{
    background-color: aqua;
    border-style: double;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#b3{
    background-color: aqua;
    border-style: double;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#total{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}